



















#select-tipo-imgs{
  padding: 1% 2% 2% 1%;
  width: 70px;
  height: 50px;
  cursor: pointer;
  transition: transform ease-in-out 500ms;

}






.popup {
display: none;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: #fff;
padding: 10px; 
border: 1px solid #ccc;
border-radius: 5px;
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
z-index: 9999;
text-align: center; 
}

.popup input[type="range"] {
width: 90%; 
margin: 5px auto; 
display: block; 
}

.popup button {
margin-top: 30px;
margin: 5px; 
padding: 5px 5px; 
background-color: #007bff;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
transition: transform ease-in-out 500ms;
}

.popup button:hover {
background-color: #0056b3;
transform: scale(1.1);
transition: transform ease-in-out 500ms;
}

#pop-up-button-ok{
margin-top: 30px;
}

#popup-recortar_num {
display: none;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: white;
border: 1px solid #ccc;
padding: 20px;
z-index: 9999;
text-align: center;
}

#popup-recortar_num h1 {
margin-top: 0;
}

#popup-recortar_num label {
display: block;
margin-bottom: 5px;
}

#popup-recortar_num input[type="text"] {
width: calc(50% - 10px);
padding: 8px;
margin-bottom: 10px;
display: inline-block;
box-sizing: border-box;
}

#popup-recortar_num .input-group {
margin-bottom: 10px;
}

#popup-recortar_num .input-group input[type="text"] {
width: calc(50% - 5px);
margin-right: 5px;
}

#popup-recortar_num button {
margin: 10px;
padding: 8px 16px;
border: none;
background-color: #007bff;
color: white;
cursor: pointer;
transition: transform ease-in-out 500ms;
}

#popup-recortar button:hover {
background-color: #0056b3;
transition: transform ease-in-out 500ms;
}





/* Estilos para os menus dropdown */











#right-icon{
  margin-right: 80px;
  transition: transform ease-in-out 500ms;

}
#right-icon img, #left-icon img{
  width: 50px;
  height: 50px;
}

#right-icon:hover{
  opacity: 0.9;
  transform: scale(1.1);
  transition: transform ease-in-out 500ms;
}

.none{
  display: n;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.buttons button {
  margin-bottom: 2%; 
}

.div {
  display: flex;
  flex-direction: row;
  border: 2px solid #ddd;
  width: 200px; 
  height: 50px;
}
#fileInput_2{
padding-top: 8%;

}

.div box-icon {
  border: 1px solid #000;
  padding: 1%;
  height: 36px;
  width: 50px;
  margin-right: 10px; 
  cursor: pointer;
  transition: transform ease-in-out 500ms;
}

.div box-icon:hover {
transform: scale(1.05);
transition: transform ease-in-out 500ms;
opacity: 0.9;
}

.div box-icon:last-child {
  margin-right: 0; 
}

.button-download{
padding-top: 20px;
}